<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#-Homework-2-(Topics-5-7:-Groupby,-Merge,-Visualization)" data-toc-modified-id="-Homework-2-(Topics-5-7:-Groupby,-Merge,-Visualization)-1"><span class="toc-item-num">1&nbsp;&nbsp;</span><center> Homework 2 (Topics 5-7: Groupby, Merge, Visualization)</center></a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Task-0." data-toc-modified-id="Task-0.-1.0.0.1"><span class="toc-item-num">1.0.0.1&nbsp;&nbsp;</span>Task 0.</a></span></li><li><span><a href="#Task-1." data-toc-modified-id="Task-1.-1.0.0.2"><span class="toc-item-num">1.0.0.2&nbsp;&nbsp;</span>Task 1.</a></span></li><li><span><a href="#Task-2:" data-toc-modified-id="Task-2:-1.0.0.3"><span class="toc-item-num">1.0.0.3&nbsp;&nbsp;</span>Task 2:</a></span></li><li><span><a href="#Task-3:" data-toc-modified-id="Task-3:-1.0.0.4"><span class="toc-item-num">1.0.0.4&nbsp;&nbsp;</span>Task 3:</a></span></li><li><span><a href="#Task-4:" data-toc-modified-id="Task-4:-1.0.0.5"><span class="toc-item-num">1.0.0.5&nbsp;&nbsp;</span>Task 4:</a></span></li><li><span><a href="#Task-5:" data-toc-modified-id="Task-5:-1.0.0.6"><span class="toc-item-num">1.0.0.6&nbsp;&nbsp;</span>Task 5:</a></span></li><li><span><a href="#Вопросы:" data-toc-modified-id="Вопросы:-1.0.0.7"><span class="toc-item-num">1.0.0.7&nbsp;&nbsp;</span>Вопросы:</a></span></li><li><span><a href="#Task-6:" data-toc-modified-id="Task-6:-1.0.0.8"><span class="toc-item-num">1.0.0.8&nbsp;&nbsp;</span>Task 6:</a></span></li><li><span><a href="#Вопросы:" data-toc-modified-id="Вопросы:-1.0.0.9"><span class="toc-item-num">1.0.0.9&nbsp;&nbsp;</span>Вопросы:</a></span></li></ul></li></ul></li></ul></li></ul></div>

# <center> Homework 2 (Topics 5-7: Groupby, Merge, Visualization)

In [7]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [8]:
pd.options.display.max_rows = 10

Ещё раз (как и в задании 1) считайте в переменные tr_mcc_codes, tr_types, transactions и customers_gender_train. В transactions опять считайте только первые 1000000 строк.

In [9]:
### Type your code here
tr_mcc_codes = pd.read_csv(filepath_or_buffer = "tr_mcc_codes.csv",
            sep = ';')
tr_mcc_codes

     mcc_code                                    mcc_description
0         742                                Ветеринарные услуги
1        1711  Генеральные подрядчики по вентиляции, теплосна...
2        1731                        Подрядчики по электричеству
3        1799  Подрядчики, специализированная торговля — нигд...
4        2741           Разнообразные издательства/печатное дело
..        ...                                                ...
179      9211  Судовые выплаты, включая алименты и детскую по...
180      9222                                             Штрафы
181      9311                                  Налоговые платежи
182      9399  Правительственные услуги, нигде ранее не класс...
183      9402             Почтовые услуги — только правительство

[184 rows x 2 columns]

In [10]:
tr_types = pd.read_csv(filepath_or_buffer = "tr_types.csv",
            sep = ';')
tr_types

     tr_type                                     tr_description
0       3200  Плата за предоставление услуг посредством моби...
1       3210  Плата за предоставление отчета по счету карты ...
2       3800  Плата за обслуживание банковской карты (за пер...
3       4000            Плата за получение наличных в Сбербанке
4       4001  Плата за получение наличных в Сбербанке (в дру...
..       ...                                                ...
150     2990                             Списание по требованию
151     2992  Списание средств для погашения задолженности п...
152     3001            Комиссия за обслуживание ссудного счета
153     3030  Плата за обслуживание банковской карты (за пос...
154     3120                Плата за досрочный перевыпуск карты

[155 rows x 2 columns]

In [11]:
transactions =  pd.read_csv(filepath_or_buffer = "transactions.csv",
            sep = ',',
            nrows = 1000000 )
transactions

        customer_id   tr_datetime  mcc_code  tr_type    amount   term_id
0          39026145    0 10:23:26      4814     1030  -2245.92       NaN
1          39026145    1 10:19:29      6011     7010  56147.89       NaN
2          39026145    1 10:20:56      4829     2330 -56147.89       NaN
3          39026145    1 10:39:54      5499     1010  -1392.47       NaN
4          39026145    2 15:33:42      5499     1010   -920.83       NaN
...             ...           ...       ...      ...       ...       ...
999995     98801178  269 10:29:06      5921     1010 -23016.59    127873
999996     98801178  270 10:26:45      5211     1010 -61380.88  10114209
999997     98801178  270 15:18:53      5921     1010 -11800.27  10105341
999998     98801178  271 12:47:13      5211     1010 -16170.59  10114209
999999     98801178  271 14:51:56      5921     1010 -10025.77    123991

[1000000 rows x 6 columns]

In [13]:
customers_gender_train =  pd.read_csv(filepath_or_buffer = "gender_train.csv",
            sep = ',')
customers_gender_train

      customer_id  gender
0        10928546       1
1        69348468       1
2        61009479       0
3        74045822       0
4        27979606       1
...           ...     ...
8395     90417572       0
8396     66837341       0
8397     10758984       1
8398     11376556       0
8399     29190649       0

[8400 rows x 2 columns]

#### Task 0.
Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с customers_gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.
После получения результата таблицы gender_train, tr_types, tr_mcc_codes можно удалить. В результате соединения датафреймов должно получиться 999584 строки.


tr_mcc_codes, tr_types, transactions и customers_gender_train.

In [16]:
### Type your code here
tr_customers = pd.merge(transactions, customers_gender_train, how='left')
tr_customers
tr_codes_types = pd.merge(tr_customers, tr_types, how='inner')
tr_codes_types
all_tables =  pd.merge(tr_codes_types, tr_mcc_codes, how='inner')
#Все таблицы в одной, остальные таблицы больше не нужны
all_tables  # все таблицы в одной!!!

,customer_id,tr_datetime,mcc_code,tr_type,amount,term_id,gender,tr_description,mcc_description
0,39026145,0 10:23:26,4814,1030,-2245.92,NaN,1.0,Оплата услуги. Банкоматы СБ РФ,"Звонки с использованием телефонов, считывающих..."
1,39026145,6 07:08:31,4814,1030,-5614.79,NaN,1.0,Оплата услуги. Банкоматы СБ РФ,"Звонки с использованием телефонов, считывающих..."
2,39026145,8 07:06:10,4814,1030,-1122.96,NaN,1.0,Оплата услуги. Банкоматы СБ РФ,"Звонки с использованием телефонов, считывающих..."
3,39026145,11 08:49:03,4814,1030,-2245.92,NaN,1.0,Оплата услуги. Банкоматы СБ РФ,"Звонки с использованием телефонов, считывающих..."
4,39026145,11 14:12:08,4814,1030,-2245.92,NaN,1.0,Оплата услуги. Банкоматы СБ РФ,"Звонки с использованием телефонов, считывающих..."
...,...,...,...,...,...,...,...,...,...
999579,48819028,388 00:00:00,7993,1200,-8062.84,00000000,0.0,Покупка. Зарубеж. ТУ,Принадлежности для видеоигр
999580,32478197,254 00:00:00,7993,1200,-5367.74,00000181,0.0,Покупка. Зарубеж. ТУ,Принадлежности для видеоигр
999581,32478197,254 00:00:00,7993,1200,-5816.92,00000181,0.0,Покупка. Зарубеж. ТУ,Принадлежности для видеоигр
999582,89619970,21 00:00:00,7993,1200,-67355.01,NaN,NaN,Покупка. Зарубеж. ТУ,Принадлежности для видеоигр
999583,89619970,84 00:00:00,7993,1200,-25805.57,NaN,NaN,Покупка. Зарубеж. ТУ,Принадлежности для видеоигр

#### Task 1.
1. Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount). (*)

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

ответ 1459.85

##### Пояснения:
(\*) Если в результате для мужчин получились значения [-1,-3,-5], а для женщин [-1,-2,-3],  
то модуль разницы между средними арифметическими -3 и -2 будет равен 1.

(\**) Обратите внимание, что для вычисления модуля разности точных знаний о том,  
какой класc относится к мужчинам, а какой - к женщинам, пока не требуется.

(\***) Округление не нужно производить отдельно по средним тратам женщин и мужчин, а только в самом конце, когда получите значение модуля разницы трат.

In [43]:
### Type your code here
pd.options.display.float_format = '{:,.2f}'.format # сильно не помогло
all_tables.isnull().sum(axis=0) #посчитали в столбце gender число пропущенных пол. 399498
amount_minus = all_tables[all_tables['amount'] < 0]
# amount_minus.isnull().sum(axis=0)
amount_minus_gender = amount_minus[amount_minus.gender.notnull()]
print(amount_minus_gender)
man_av = amount_minus_gender.amount[amount_minus_gender['gender'] ==1.0].median()
print(man_av)
woman_av = amount_minus_gender.amount[amount_minus_gender['gender'] ==0.0].median()
print(woman_av)
abs(man_av-woman_av)

        customer_id   tr_datetime  mcc_code  tr_type      amount   term_id  \
0          39026145    0 10:23:26      4814     1030   -2,245.92       NaN
1          39026145    6 07:08:31      4814     1030   -5,614.79       NaN
2          39026145    8 07:06:10      4814     1030   -1,122.96       NaN
3          39026145   11 08:49:03      4814     1030   -2,245.92       NaN
4          39026145   11 14:12:08      4814     1030   -2,245.92       NaN
...             ...           ...       ...      ...         ...       ...
999577     57513608  245 00:00:00      7993     1200 -102,818.02  00000181
999578     57513608  293 00:00:00      7993     1200  -78,584.59  00000181
999579     48819028  388 00:00:00      7993     1200   -8,062.84  00000000
999580     32478197  254 00:00:00      7993     1200   -5,367.74  00000181
999581     32478197  254 00:00:00      7993     1200   -5,816.92  00000181

        gender                  tr_description  \
0         1.00  Оплата услуги. Банкоматы СБ РФ
1         1.00  Оплата услуги. Банкоматы СБ РФ
2         1.00  Оплата услуги. Банкоматы СБ РФ
3         1.00  Оплата услуги. Банкоматы СБ РФ
4         1.00  Оплата услуги. Банкоматы СБ РФ
...        ...                             ...
999577    1.00            Покупка. Зарубеж. ТУ
999578    1.00            Покупка. Зарубеж. ТУ
999579    0.00            Покупка. Зарубеж. ТУ
999580    0.00            Покупка. Зарубеж. ТУ
999581    0.00            Покупка. Зарубеж. ТУ

                                          mcc_description
0       Звонки с использованием телефонов, считывающих...
1       Звонки с использованием телефонов, считывающих...
2       Звонки с использованием телефонов, считывающих...
3       Звонки с использованием телефонов, считывающих...
4       Звонки с использованием телефонов, считывающих...
...                                                   ...
999577                        Принадлежности для видеоигр
999578                        Принадлежности для видеоигр
999579                        Принадлежности для видеоигр
999580                        Принадлежности для видеоигр
999581                        Принадлежности для видеоигр

[428765 rows x 9 columns]
-11229.58
-9769.73

1459.8500000000004

#### Task 2:
1. Создайте новый столбец - mcc_code+tr_type, сконкатенировав значения из соответствующих столбцов. (\*)
2. Оставьте только наблюдения с отрицательным значением amount. Посчитайте дисперсию по категориям получившегося столбца mcc_code+tr_type, в которых количество наблюдений >= 10. 
3. Определите отношение максимальной дисперсии к минимальной.

Выведите ответ в виде вещественного числа, округлённого до ближайшего целого в формате "123456" без дробной части.

ответ 9170599

##### Пояснения:
(\*) Для конкатенации значений в столбцах можно использовать метод .astype(str) для серии и складывать соответствующие серии. Либо же применять apply к строкам датафрейма, прописывая логику преобразования и конкатенации значений внутри.

(\**) Для одновременного подсчета количества наблюдений и дисперсии по категориям можно воспользоваться функцией .agg()

In [104]:
### Type your code here
#1

str_tables = all_tables #заведем новую переменную, скопируем в нее составную таблицу

str_tables['tr_type'] = str_tables['tr_type'].astype(str) # поменяем тип в столбце типы на строковый вместо числа
str_tables['mcc_code']= str_tables['mcc_code'].astype(str) # поменяем тип в столбце коды на строковый вместо числа
str_tables['new_column'] = str_tables['mcc_code']+str_tables['tr_type'] #сделаем конкатенацию и новый столбец
str_tables['new_column'] = pd.to_numeric(str_tables['new_column']) #поменяем обратно тип в новом столбце на числовой, на всякий случай
#2
str_tables_minus = str_tables[str_tables['amount'] < 0] #выберем только отрицательные  amount
new_1 = str_tables_minus.groupby('new_column').filter(lambda x: len(x) >= 10) # новый дф у которого удалили строки
#, которые при группировке дают new column меньше 10
groups = new_1.groupby(['new_column'])  # группируем новый дф по new column, проверяем 
#сколько получилось групп , и есть ли там наблюдения 

max_var = groups.amount.var().max()
print(max_var)
min_var = groups.amount.var().min()
print(min_var)
#3
max_var /  min_var

groups.amount.var()

12037786958150.154
1312650.0193129827

new_column
7421110        596,303,740.91
17111110    40,296,866,923.97
17991110    18,049,244,458.47
30001010   276,234,494,764.20
30001100    87,963,289,610.20
                  ...
89991200    51,512,207,949.62
92221100     6,592,240,718.21
93111100     2,580,297,630.46
93991100    52,393,174,088.75
93991200    18,430,597,874.87
Name: amount, Length: 408, dtype: float64

#### Task 3:
1. По всем типам транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу amount) отдельно для мужчин и женщин (назовите ее "max_income"). Оставьте по 5 транзакций для мужчин и для женщин, наименьших среди всех транзакций по полученным значениям "max_income". (\*)
2. Выделите среди них те, которые встречаются одновременно и у мужчин, и у женщин:
    - 1) Покупка. POS ТУ СБ РФ	
    - 2) Списание после проведения претензионной работы	
    - 3) Плата за получение наличных. Россия	
    - 4) Перевод на карту/ с карты через АТМ (со взиманием комиссии с отправителя) по счету в овердрафте	
    - 5) Плата за получение наличных в АТМ. Россия	    - правильный ответ 
    - 6) Наличные. Зарубеж. банк	
    - 7) Возврат покупки. POS ТУ Россия

##### Пояснения:
(\*) Если максимальные суммы приходов по каким-то типам были равны [1,2,3,4,5,6,7,8], то 5 минимальных из них: [1,2,3,4,5]

In [120]:
### Type your code here
#1
str_tables_plus = str_tables[str_tables['amount'] > 0] 
str_tables_plus_man= str_tables_plus[str_tables_plus['gender'] == 1.0] 
str_tables_plus_woman= str_tables_plus[str_tables_plus['gender'] == 0.0] 
groups_tra_m = str_tables_plus_man.groupby('tr_description') # группируем по типам транзакций

# print(groups_tra_m.amount.max().sort_values().iloc[:5]) # находим максимальные амоунт в сгруппипрованном
#мужчины, отсортированное, первые 5 минимальных
man_list = list(groups_tra_m.amount.max().sort_values().iloc[:5].index)

groups_tra_w = str_tables_plus_woman.groupby('tr_description') # группируем по типам транзакций

woman_list = list(groups_tra_w.amount.max().sort_values().iloc[:5].index) # находим максимальные амоунт в сгруппипрованном женщины

for item in man_list:
    if item in woman_list:
        print(item)

Плата за получение наличных в АТМ. Россия

#### Task 4:
1. Выделите из поля tr_datetime относительный день tr_day (первое число до точного времени). (\*)
2. Отфильтруйте строки таким образом, чтобы оставить только те транзакции, у которых в соответствующий относительный день tr_day количество уникальных MCC кодов при транзакциях было больше 75 (можно воспользоваться функцией nunique())
3. Сгруппируйте полученный отфильтрованный датафрейм по MCC коду и полу, после чего, пронализировав результат, выберите верные варианты ответов ниже (\**): 
    - 1) gender == 0 - женщины, gender == 1 - мужчины   - да
    - 2) gender == 1 - женщины, gender == 0 - мужчины
    - 3) Абсолютное значение медианы с типом "Флористика" (расходов/приходов) у мужчин выше той же медианы у женщин     - да
    - 4) Абсолютное значение медианы женских трат (расходов/приходов) на ценные бумаги выше мужских
    - 5) Абсолютное значение медианы женских трат (расходов/приходов) в категории "Бары, коктейль-бары, дискотеки, ночные клубы и таверны — места продажи алкогольных напитков" ниже мужских    - да
    
##### Пояснения:
(\*) Для того, чтобы выделить всё, что стоит до первого пробела, можо использовать строковые методы для датафрейма - .str.split(), например. Либо же реализовывать логику выделения подстроки с помощью метода apply. <br>
(\**) Понять, какой класс к какому типу транзакций (мужские/женские) относится можно, если поизучать типичные для мужчин/женщин категории и сравнить средние/медианы расходов и/или приходов в них.

In [160]:
### Type your code here
import copy
#1
day_tables = copy.deepcopy(all_tables) #заведем новую переменную, скопируем в нее составную таблицу
temp = day_tables['tr_datetime'].str.split(expand=True)
temp.columns=['tr_day','tr_time']
new_tables = pd.concat([day_tables, temp], axis=1)
new_tables

# new_tables.groupby('tr_day')
new_2 = new_tables.groupby('tr_day').filter(lambda x: x['mcc_code'].nunique()>75) # новый дф у которого удалили строки
pd.options.display.max_rows = 180
new_2
new_2.groupby(['mcc_description','gender']).amount.mean().unstack()

# new_tables_man= str_tables[new_tables['gender'] == 1.0] 
# new_tables_plus_woman= str_tables[new_tables['gender'] == 0.0]

gender                                                    0.00        1.00
mcc_description
Авиалинии, авиакомпании                            -407,289.67 -337,903.88
Авиалинии, авиакомпании, нигде более не классиф... -228,081.74 -362,581.14
Автобусные линии                                   -307,700.44  -23,400.73
Автозапчасти и аксессуары                           -38,816.22  -52,763.10
Автоматизированные бензозаправки                    -19,555.71  -30,122.99
Автомойки                                           -14,224.13  -13,772.53
Автошины                                           -145,909.66 -179,028.63
Агентства по автотранспортным перевозкам, местн... -117,837.58  -33,496.34
Агентства по аренде автомобилей                     -84,959.85 -832,370.30
Аксессуары для женщин                               -33,634.73  -52,654.34
Аптеки                                              -15,000.14  -14,287.18
Ассоциации — гражданские, социальные и братские      -5,130.31   -4,268.26
Бакалейные магазины, супермаркеты                   -14,036.87  -15,511.04
Бары, коктейль-бары, дискотеки, ночные клубы и ...  -16,055.01  -28,077.81
Беспошлинные магазины Duty Free                     -67,985.42 -108,222.86
Бизнес-сервис                                       -25,997.77  -19,452.49
Билльярд-клубы                                      -15,227.31  -23,075.66
Больницы                                           -346,897.54  -38,619.87
Боулинг-клубы                                       -20,097.20  -23,958.31
Булочные                                             -6,164.34   -5,492.25
Бытовое оборудование                                -85,965.16 -125,200.15
Ветеринарные услуги                                 -31,602.28  -42,221.05
Видеопрокат                                          -7,259.92   -4,232.96
Галереи и художественные посредники                -270,283.83 -236,865.73
Галереи/учреждения видеоигр                          -7,274.53  -11,297.84
Генеральные подрядчики по вентиляции, теплоснаб... -674,897.69  -15,808.04
Горючее топливо — уголь, нефть, разжиженный бен...  -14,924.72  -16,263.61
Готовая женская одежда                              -73,613.13  -79,754.70
Дантисты, ортодонтисты                             -105,066.74 -122,553.64
Денежные переводы                                  -140,837.64 -279,241.95
Денежные переводы MasterCard MoneySend               66,657.64  137,604.77
Детская одежда, включая одежду для самых маленьких  -30,759.59  -40,378.89
Дилеры по продаже печатной продукции                -16,700.28  -13,549.56
Доктора, нигде ранее не классифицируемые            -78,948.15  -54,607.12
Дорожный и мостовой сборы, пошлины                  -14,923.58   -9,392.15
Драгоценные камни и металлы, часы и ювелирные и...  -32,790.27 -145,124.90
Жилье — отели, мотели, курорты                     -174,296.02 -128,662.62
Звонки с использованием телефонов, считывающих ...   -4,727.98   -6,183.64
Зоомагазины                                         -12,964.24  -23,064.19
Зубные и медицинские лаборатории                   -160,528.06  -79,112.38
Изготовление и продажа меховых изделий             -228,854.92 -681,434.63
Иной сервис                                         -84,603.60  -41,419.17
Информационные провайдеры                            -6,737.75   -9,503.60
Кабельные и другие платные телевизионные услуги      -8,519.21  -17,374.40
Канцелярия, офисные сопутствующие товары, бумаг...   -8,007.94  -48,664.43
Кинотеатры                                          -22,781.44  -16,102.99
Клубы — сельские клубы, членство(спортивный, от... -147,676.28  -93,044.10
Книги, периодические издания и газеты                -3,048.83   -8,545.71
Книжные магазины                                    -18,848.20  -23,482.75
Колледжи, университеты, профессиональные школы ... -134,754.95 -121,730.51
Коммунальные услуги — электричество, газ, санит...  -41,369.65  -48,633.71
Компьютерная сеть/информационные услуги             -16,255.71  -14,379.91
Компьютеры, периферийное компьютерное оборудова...  -40,426.48  -77,232.13
Кондитерские                                         -8,578.14  -10,707.74
Круизные линии                                      -70,332.02  -43,530.95
Легковой и грузовой транспорт — продажа, сервис... -106,696.61 -456,875.65
Лекарства, их распространители, аптеки              -14,201.56  -19,848.30
Лесо- и строительный материал                       -73,806.14  -38,471.59
Лимузины и такси                                     -9,091.55  -10,420.83
Луна-парки, карнавалы, цирки, предсказатели буд...  -25,792.28  -61,201.20
Магазины second hand, магазины б/у товаров, ком...  -12,479.81         nan
Магазины звукозаписи                                 -3,862.28   -6,106.51
Магазины игрушек                                    -29,116.81  -32,060.05
Магазины кожаных изделий, дорожных принадлежностей  -80,582.91 -212,540.09
Магазины косметики                                  -34,949.97  -40,802.87
Магазины мужской и женской одежды                   -59,003.80  -86,325.28
Магазины открыток, подарков, новинок и сувениров    -40,594.08  -30,679.99
Магазины офисных, школьных принадлежностей, кан...  -14,470.27  -14,053.14
Магазины по продаже часов, ювелирных изделий и ... -153,735.22 -254,431.21
Магазины с продажей спиртных напитков на вынос ...   -8,866.42  -11,437.62
Магазины спорттоваров                               -59,666.94  -70,021.27
Магазины ткани, ниток рукоделия, шитья              -34,535.35  -56,034.50
Магазины фотооборудования и фотоприборов            -31,097.77 -585,663.81
Магазины хрусталя и изделий из стекла               -36,511.85  -61,658.92
Магазины художественных и ремесленных изделий       -16,148.13  -15,317.99
Магазины, торгующие по сниженным ценам              -34,904.77         nan
Места общественного питания, рестораны              -14,334.22  -26,571.44
Мужская одежда и аксессуары, включая одежду для...  -99,817.13 -171,342.64
Мужская, женская и детская спец-одежда              -49,421.38  -28,154.16
Налоговые платежи                                   -56,513.25  -23,582.12
Не-финансовые институты — иностранная валюта, д...  -18,441.67  -34,059.03
Нефть и нефтепродукты                               -13,846.07  -15,586.66
Оборудование для водопровода и отопительной сис... -119,785.92 -180,762.53
Оборудование для выращивания растений, инвентар...   -5,075.77  -29,147.78
Оборудование и сопутствующие материалы для техн...  -11,386.79  -26,445.99
Оборудование, мебель и бытовые принадлежности (... -199,827.57 -171,917.61
Образовательные услуги                             -126,071.22 -761,913.17
Обувные магазины                                    -68,103.27  -67,746.37
Общий ремонт                                        -53,721.46  -65,917.63
Одежда для всей семьи                               -61,497.92  -69,408.32
Оптика, оптические товары и очки                    -58,475.07  -89,107.25
Оптовики                                            -43,825.77  -58,774.51
Организации благотворительные и общественные сл...  -46,266.62     -805.08
Организации, членства, нигде ранее не классифиц... -521,107.48 -137,184.20
Ортопедические товары                               -29,450.69  -24,873.74
Отели, мотели, базы отдыха, сервисы бронирования   -437,565.89 -225,343.23
Офисное, фотографическое, фотокопировальное, и ...   -6,271.72 -202,394.44
Паркинги и гаражи                                    -4,695.43   -6,958.94
Пассажирские железные перевозки                     -36,055.33  -44,886.65
Плавательные бассейны — распродажа                  -32,196.56  -36,078.45
Подрядчики по электричеству                                nan  -55,923.30
Подрядчики, специализированная торговля — нигде...  -81,489.31  -57,328.25
Покрытия для пола                                   -67,203.09  -82,314.81
Поставщики грузовиков и запчастей                   -15,721.41  -21,719.96
Поставщики провизии                                  -5,087.88  -58,815.70
Почтовые услуги — только правительство                     nan   -4,581.67
Правительственные услуги, нигде ранее не класси...  -74,242.83  -22,124.07
Практикующие врачи, медицинские услуги, нигде р... -116,643.35  -73,889.86
Принадлежности для видеоигр                         -28,908.14  -36,435.87
Программирование, обработка данных, интегрирова...   -4,886.89  -56,598.72
Продажа компьютерного программного обеспечения      -65,042.55  -40,393.67
Продажа молочных продуктов в розницу                -19,696.22   -5,179.08
Продажа мотоциклов                                         nan -192,250.39
Продажа музыкальных инструментов, фортепиано, нот          nan -345,309.16
Продажа свежего и мороженого мяса                   -10,425.70  -10,607.46
Продажа снегоходов                                         nan -133,190.89
Продажа страхования, гарантированное размещение... -267,751.00 -275,743.28
Продажа электронного оборудования                   -88,968.29  -86,471.61
Прокат автомобилей                                         nan -168,208.79
Промышленное оборудование — нигде более не клас...  -22,796.05  -56,077.52
Профессиональные услуги, нигде ранее не классиф...  -17,323.69  -26,104.36
Прямой маркетинг — входящий телемаркетинг                  nan   -9,657.66
Прямой маркетинг — другие торговые точки прямог...   44,527.53 -101,429.41
Прямой маркетинг — комбинированный каталог и то...  -61,917.79         nan
Прямой маркетинг — торговля через каталог            -9,985.18  -13,935.45
Прямой маркетинг — торговые точки подписки          -69,509.84  -24,012.57
Различные магазины одежды и аксессуаров             -58,928.23  -81,162.90
Различные продовольственные магазины — рынки, м...   -8,458.87   -7,844.64
Различные специализированные магазины бытовых п... -122,288.29 -150,813.06
Различные товары общего назначения                  -45,810.20  -33,131.56
Разнообразные издательства/печатное дело            -20,746.42  -44,258.02
Рекламные услуги                                     -3,157.84   -7,633.92
Ремонт бытовой техники, ремонт электроприборы       -43,683.07         nan
Рестораны, закусочные                                -8,191.37  -10,930.07
Розничная продажа стекла, красок и обоев            -10,428.44  -91,695.03
СТО общего назначения                              -131,298.57 -113,895.75
Садовые принадлежности (в том числе для ухода з...  -72,911.60  -60,920.02
Салоты красоты и парикмахерские                     -78,584.30  -28,370.41
Сервисы по покупке/продаже                           -6,741.79         nan
Скобяные товары в розницу                           -59,195.01  -79,399.49
Службы знакомств                                          0.00  -29,317.06
Спортивная одежда, одежда для верховой езды и е...  -77,613.95  -60,898.99
Станции техобслуживания                             -17,794.76  -24,672.88
Стоматологическое/лабороторное/медицинское/офта...  -25,884.18  -21,667.47
Строительные материалы — нигде более не классиф...   -9,899.25 -966,600.97
Табачные магазины                                    -4,154.08  -15,717.33
Таймшер                                             -32,835.29         nan
Театральные продюсерские агентства                  -75,219.27 -105,446.23
Телекоммуникационное оборудование, включая прод...  -53,862.74  -49,350.66
Ткани, обивочный материал, гардины и портьеры, ...  -28,352.48  -22,170.21
Товары длительного пользования — нигде более не...  -44,826.86  -52,761.38
Товары для дома                                     -30,068.80  -27,525.23
Товары недлительного пользования, не классифици... -112,295.79  -81,077.56
Транзакции по азартным играм                         -3,309.66  -45,936.32
Транспортировка — пригородные и локальные сезон...  -16,026.66  -17,123.90
Туристические агентства и организаторы экскурсий   -292,668.39 -467,940.36
Туристические аттракционы и шоу                     -23,231.38  -36,880.94
Универмаги                                          -28,568.62  -34,435.88
Универсальные магазины                              -16,317.90  -16,776.44
Услуги копировальных центров                               nan  -15,560.55
Услуги курьера — по воздуху и на земле, агентст...  -61,249.65  -41,314.57
Услуги отдыха, нигде ранее не классифицируемые      -41,743.73  -72,427.63
Услуги по переделке, починке и пошиву одежды       -171,722.72         nan
Услуги по транспортировке — нигде более не клас...  -19,673.68  -21,811.30
Финансовые институты — снятие наличности автома...  -45,226.38  -83,739.63
Финансовые институты — снятие наличности вручную     98,769.54   50,316.67
Финансовые институты — торговля и услуги             57,057.72  112,962.51
Флористика                                          -22,580.43  -25,974.15
Фотостудии                                          -10,604.47  -20,303.08
Фотостудии, фотолаборатории                          -3,559.77  -51,012.23
Химикалии и смежные вещества, не классифицирова... -156,984.01 -108,349.09
Химчистки                                           -23,354.72  -54,659.82
Ценные бумаги: брокеры/дилеры                        -6,737.75  -71,311.91
Центры здоровья                                     -57,355.52  -82,247.12
Цифровые товары, игры                                -7,729.32   -5,067.85
Школы — бизнес и секретарей                        -160,582.98  -13,475.49
Штрафы                                              -38,230.48  -38,494.99
Штучные товары, галантерея и другие текстильные...  -31,260.40         nan
Электрические части и оборудование                  -93,963.50 -144,500.06

#### Task 5:
1. Разбейте расходы (отрицательные значения сумм) на 5 бакетов amount_bucket равного объёма (с помощью pd.qcut), разбив все траты на категории 'Very High', 'High', 'Middle', 'Low', 'Very Low'. (\*)
2. Оставшиеся неотрицательные траты отнесите к категории 'Income'.
(воспользуйтесь функцией .cat.add_categories('Income') для того, чтобы добавить новую категорию 'Income' к категориям 'Very High', 'High', 'Middle', 'Low', 'Very Low', а затем заполните пустые значения новой категорией).
3. Из поля tr_datetime выделите час tr_hour, в который произошла транзакция, как первые 2 цифры до ":". (\**)
3. После этого постройте сводную таблицу, значениями в которой является пол gender, индексы - tr_hour, столбцы - amount_bucket.
4. Отрисуйте полученные результаты, передав их в функцию plot_pivot_table, расположенную ниже.
5. Выберите верные ответы на вопросы ниже.

#### Вопросы:
    - 1) Ночные поступления денег (01-05 часов) в более чем 85% случаев являются мужскими.
    - 2) Посмотрев на долю мужчин в поступлениях средств (Income), можно сделать вывод, что количество поступлений средств женщинам в целом больше, чем мужчинам.
    - 3) Самые низкие траты в 3 часа ночи осуществляются в более 70% случаев женщинами.
    - 4) Существуют особые часы в мелких тратах, когда женщины тратят намного больше мужчин (>80%)
    - 5) Посмотрев на долю мужчин в максимальных тратах средств (Very High), можно сделать вывод, что количество высоких трат в каждый возможный час мужчин больше, чем у женщин.

##### Пояснения:
(\*) Обратите внимание, что в категории Very High Должны оказаться максимальные по модулю отрицательные транзакции. <br>
(\**) Например, для строки "0 10:23:26" час будет равен 10, а для строки "6 07:08:31"- 07. Можно воспользоваться функциями str.split() или str.find() и 
функцией .apply(lambda x: x[])

In [11]:
def plot_pivot_table(pivot_table):
    plt.figure(figsize=(9, 11))
    sns.heatmap(pivot_table, cmap="YlGnBu", annot=True, 
                fmt='.3g', annot_kws={"size": 14, "fontsize": 14})
    plt.xticks(fontsize=15)
    plt.yticks(rotation=0, fontsize=15)
    plt.xlabel('Bucket', size=18)
    plt.ylabel('Hour', fontsize=18)
    plt.title('Gender analysis per bucket and hour', fontsize=20)
    plt.show()

In [8]:
# Type your code here

#### Task 6:
1. Измените тип поля tr_day на int.
2. Выберите из transactions все MCC коды, которые встретились в выборке более чем 60000 раз.
3. Сгруппируйте отфильтрованный датафрейм по дню и MCC-коду, получая средние значения суммы amount.  
4. Далее отрисуйте зависимость средних сумм (может пригодится метод unstack()) по каждому из MCC-кодов по дням.
5. Выберите верные ответы на вопросы ниже.

#### Вопросы:
    - 1) 2 из полученных MCC-кодов связаны с финансовыми институтами
    - 2) 2 MCC кода, связанные со снятием наличности имеют в целом разные знаки (в одном случае почти везде - траты, в другом - пополнения)
    - 3) Бакалейные магазины обладают максимальными средними тратами среди выбранных MCC-кодов
    - 4) Денежные переводы имеют как минимум 3 явных минимума средних
    - 5) Категория "Звонки с использованием телефонов, считывающих магнитную ленту" имеет визуально очень большую дисперсию.

In [9]:
# Type your code here